@font-face {
    font-family: "Naruto";
    src: url(fonts/njnaruto.ttf);
}

body {
    font-family: 'Naruto';
    background-image: linear-gradient(120deg, #dfcb89, #db7633ad);
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

header {
    background-image: url(images/food.jpeg);
    background-size: cover;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.fa-solid {
    position: absolute;
    top: 5px;
    right: 5px;
}

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 5px black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.menubuttons {
    width: 80vw;
    height: 125px;
    font-family: "Naruto";
    font-size: 25px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    border: 1px solid rgba(0, 0, 0, 0.788);
}

#viewmenu {
    display: none;
}
